---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Página no encontrada - Grupo Corporativo Golden" description="Página no encontrada">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-primary">
      Oops, la página no fue encontrada :(
    </h1>
    <a href="/" class="inline-block bg-primary text-white px-5 py-2 rounded-2xl hover:bg-primary/20">
      Ir al inicio
    </a>
  </div>
</Layout>
