---
import Layout from '@/layouts/Layout.astro'
import SectionLayout from '@/layouts/SectionLayout.astro'
import FormControl from '@/components/FormControl.astro'
import Location from '@/icons/Location.astro'
import Email from '@/icons/Email.astro'
---

<Layout
  title="Contacto - Grupo Corporativo Golden"
  description="Contactate con el Grupo Corporativo Golden"
  hasBackgroundHeader
  hasMarginTop
>
  <SectionLayout containerClassName="pt-16" contentClassName="bg-primary rounded-xl px-8 text-white">
    <h2 class="text-xl lg:text-2xl uppercase font-bold text-white mb-4">
      Contáctanos
    </h2>
    <form action="" class="flex flex-col justify-center gap-4 xl:gap-8 lg:flex-row">
      <div class="w-full flex flex-col gap-4">
        <FormControl
          label="Asunto"
          htmlFor="subject"
          placeholder="Ingresa el asunto"
        />
        <FormControl
          label="Nombre"
          htmlFor="name"
          placeholder="Ingresa tus nombres completos"
        />
        <FormControl
          label="Empresa"
          htmlFor="business"
          placeholder="Ingresa el nombre de empresa"
        />
        <FormControl
          label="Cargo"
          htmlFor="position"
          placeholder="Ingresa tu cargo"
        />
        <FormControl
          label="Email"
          htmlFor="email"
          placeholder="Ingresa tu correo electrónico"
        />
        <FormControl
          label="Teléfono"
          htmlFor="phone"
          placeholder="Ingresa tu teléfono"
        />
      </div>

      <div class="w-full flex flex-col justify-start items-center gap-8 xl:items-end">
        <div class="w-full">
          <label for="message" class="text-sm text-slate-100 mb-1 md:text-base">
            Mensaje
          </label>
          <textarea
            name="message"
            id="message"
            placeholder="Ingresa tu mensaje"
            class="px-4 py-1 rounded-xl w-full"
            rows="5"
          ></textarea>
        </div>
        <button class="w-full bg-secondary rounded-xl px-8 py-2 uppercase font-bold sm:w-auto sm:px-16 lg:w-full xl:w-auto">
          Enviar
        </button>
      </div>
    </form>
  </SectionLayout>

  <SectionLayout contentClassName="flex flex-col justify-between items-start gap-x-16 gap-y-8 lg:flex-row lg:items-center">
    <div>
      <h3 class="mb-4 uppercase font-bold text-2xl lg:text-3xl">
        Grupo Corporativo Golden
      </h3>
      <div class="flex flex-wrap gap-x-8 gap-y-4">
        <div class="flex items-center gap-2">
          <span class="bg-secondary w-8 h-8 rounded-full flex justify-center items-center">
            <Location className="text-white" />
          </span>
          Jr. Direccion oficina 22
        </div>
        <div class="flex items-center gap-2">
          <span class="bg-secondary w-8 h-8 rounded-full flex justify-center items-center">
            <Location className="text-white" />
          </span>
          +51 999888777
        </div>
        <div class="flex items-center gap-2">
          <span class="bg-secondary w-8 h-8 rounded-full flex justify-center items-center">
            <Email className="text-white" />
          </span>
          recepcion@golden.pe
        </div>
      </div>
    </div>
    <img
    src="/images/logo.svg"
      alt="logo grupo corporativo golden"
      class="w-auto h-48 object-cover object-center lg:h-64"
    />
  </SectionLayout>
</Layout>
