---
import Heading from "@/components/Heading.astro"
import HeroLayout from "@/layouts/HeroLayout.astro"
import Layout from "@/layouts/Layout.astro"
import SectionLayout from "@/layouts/SectionLayout.astro"
import ButtonLink from "@/components/ButtonLink.astro"
import ArrowRight from "@/icons/ArrowRight.astro"
import StatisticCard from "@/features/home/StatisticCard.astro"
---

<Layout
  title="Grupo Corporativo Golden"
  description="Grupo Corporativo Golden"
>
  <HeroLayout
    title="¡Bienvenidos a Grupo Corporativo Golden!"
    description="Somos tu socio confiable en construcción. Desde edificaciones sólidas hasta relaciones duraderas, estamos aquí para hacer realidad tus proyectos. Descubre cómo podemos trabajar juntos para alcanzar tus metas. ¡Bienvenidos a la excelencia en construcción!"
    imageUrl="/images/home.jpg"
    contentClassName="mb-16"
  />

  <SectionLayout id="resena-historica" contentClassName="flex flex-col-reverse lg:flex-row lg:gap-x-8">
    <img
      src="/images/history.jpg"
      alt="image"
      class="h-64 w-full rounded border border-zinc-400 object-cover object-center lg:h-auto lg:w-96"
    />
    <div class="mb-4">
      <Heading as="h2">
        Pequeña reseña histórica
      </Heading>
      <p>
        El Grupo Corporativo Golden fue fundado en 0000 con el objetivo de aprovechar los recursos minerales de La Arena, comenzando con la extracción de oro en La Arena. En la década de 0000.
      </p>
      <br />
      <p>
        Desde 0000, el Grupo Corporativo Golden ha centrado sus esfuerzos en la sostenibilidad y la responsabilidad social, invirtiendo en proyectos de reforestación, reciclaje de agua y tecnologías de minería verde. Hoy en día, se destaca por su innovación en el sector minero y su compromiso con el desarrollo socioeconómico de las comunidades locales, consolidándose como un líder en la industria minera de Huamachuco.
      </p>
    </div>
  </SectionLayout>

  <HeroLayout
    id="servicios"
    title="Servicios"
    titleClassName="uppercase"
    description="En Grupo Corporativo Golden, ofrecemos servicios especializados en movimiento de tierras, geosintéticos, termofusión y obras civiles, con un enfoque preferencial en proyectos mineros. Nos destacamos por nuestra experiencia y compromiso con la calidad, utilizando maquinaria de última tecnología y materiales de alta calidad para garantizar resultados óptimos y duraderos. Aunque nuestra principal especialización es el sector minero, también ejecutamos estos servicios en otros sectores con la misma dedicación y profesionalismo. Estamos comprometidos con la excelencia y la satisfacción de nuestros clientes, asegurando que cada proyecto cumpla con los más altos estándares de la industria. Contáctenos para conocer más sobre cómo podemos apoyar sus proyectos y llevarlos al siguiente nivel."
    imageUrl="/images/home.jpg"
    containerClassName="lg:h-[800px]"
    contentClassName="mb-16"
  />

  <SectionLayout id="proyectos">
    <Heading as="h2">
      Proyectos
    </Heading>
    <p>
      Somos tu socio confiable en construcción. Desde edificaciones sólidas hasta relaciones
      duraderas, estamos aquí para hacer realidad tus proyectos. Descubre cómo podemos trabajar
      juntos para alcanzar tus metas. ¡Bienvenidos a la excelencia en construcción!
    </p>
  </SectionLayout>

  <SectionLayout containerClassName="bg-primary" id="logros">
    <Heading as="h2" className="text-white text-center">
      Datos estadísticos de logros
    </Heading>

    <div id="statisticParentCards" class="mt-16 flex flex-wrap justify-center items-center gap-x-8 gap-y-12 md:gap-x-24">
      <StatisticCard quantity={80} label="Proyectos finalizados" />
      <StatisticCard quantity={120} label="Proyectos sociales" />
      <StatisticCard quantity={12} label="Empleos abiertos" />
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="grid grid-cols-1 items-center gap-x-16 py-8 md:grid-cols-2">
      <article class="mb-8 md:mb-0">
        <Heading as="h2">
          Trabaja con nostros
        </Heading>
        <p class="mb-4">
          En <strong class="text-primary">Grupo Corporativo Golden</strong>, nos enorgullece contar con un equipo comprometido y talentoso que comparte nuestra visión de innovación y desarrollo sostenible. Si eres una persona apasionada y buscas un entorno de trabajo dinámico y colaborativo, te invitamos a unirte a nuestra familia. En Grupo Corporativo Golden, tu crecimiento profesional es nuestra prioridad. ¡Ven y construye tu futuro con nosotros!
        </p>

        <ButtonLink href="/jobs" className="w-full md:w-auto">
          Ver empleos
          <ArrowRight />
        </ButtonLink>
      </article>
      <figure>
        <img
          src="/images/work-with-us.jpg"
          alt="imagen trabaja con nosotros"
          class="h-96 w-full rounded-xl object-cover object-center shadow-lg shadow-zinc-400"
        />
      </figure>
    </div>
  </SectionLayout>
</Layout>
