<button
  id={Astro.props.id}
  type="button"
  class="button flex text-white uppercase bold lg:hidden"
>
  Menu
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</button>

<style>
.button {
  flex-direction: column;
  gap: 16px;
  width: 32px;
  height: 32px;
  position: relative;
}

.hamburger-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background: red;
}
</style>
