<button
  id={Astro.props.id}
  type="button"
  class="button flex text-white uppercase bold lg:hidden"
>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</button>

<style>
.button {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 18px;
}

.hamburger-line::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
}
</style>
