---
import { Image } from "astro:assets";
import logo from "../../assets/logo.svg";
---

<header class="flex items-center justify-between">
  <a href="/">
    <Image
      src={logo}
      alt="logo"
      style={{ filter: "grayscale(100%) contrast(200%)" }}
    />
  </a>

  <ul>
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/">Proyectos</a>
    </li>
  </ul>
</header>
