---
import { Image } from 'astro:assets'
import logo from '../../assets/logo.svg'
---

<header>
  <a href="/">
    <Image src={logo} alt="logo" style={{ filter: 'grayscale(100%) contrast(200%)' }} />
  </a>
</header>