---
import { Image } from "astro:assets";
import logo from "../../assets/logo.svg";
import { IoMenu } from "react-icons/io5/index.js";
---

<header class="flex items-center justify-between">
  <a href="/">
    <Image src={logo} alt="logo" class="w-24" />
  </a>

  <button>
    <IoMenu />
  <button>

  <ul class="hidden lg:flex">
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/conocenos">Conócenos</a>
    </li>
    <li>
      <a href="/servicios">Servicios</a>
    </li>
    <li class="hidden md:block">
      <a href="/proyectos">Proyectos</a>
    </li>
    <li class="hidden md:block">
      <a href="/contacto">Contacto</a>
    </li>
    <li class="hidden md:block">
      <a href="/intranet">Intranet</a>
    </li>
  </ul>
</header>
