---
import { pages } from "@/constants/pages"
import { FaFacebookSquare, FaTwitterSquare } from "react-icons/fa"
import X from "@/icons/x.astro"

const currentDate = new Date()
const currentYear = currentDate.getFullYear()
---

<footer class="bg-primary h-[232px] py-4 flex items-center">
  <div class="section-layout text-white flex flex-col justify-center gap-y-8">
    <div class="flex justify-between items-start gap-8">
      <nav class="flex justify-start items-start gap-x-16">
        <a href="/">
          <img src="/images/logo-white.svg" alt="logo" class="w-64 h-auto" />
        </a>

        <ul class="w-auto grid grid-cols-2 gap-x-6 md:gap-x-24">
          {pages.map((page) => (
            <li>
              <a href={page.href} class="transition-colors hover:underline hover:text-secondary">
                {page.name}
                </a>
            </li>
          ))}
        </ul>
      </nav>

      <ul class="w-full flex justify-end items-center gap-4">
        <li>
          <a
            href="https://www.facebook.com/golden-corp"
            class="w-8 h-8 bg-white text-primary rounded-full flex justify-center items-center transition-[background] hover:bg-secondary hover:text-white"
          >
            <FaFacebookSquare size="22" />
          </a>
        </li>
        <li>
          <a
            href="https://www.x.com/golden-corp"
            class="w-8 h-8 bg-white text-primary rounded-full flex justify-center items-center transition-[background] hover:bg-secondary hover:text-white"
          >
            <X size="22" />
          </a>
        </li>
        <li>
          <a
            href="https://www.x.com/golden-corp"
            class="w-8 h-8 bg-white text-primary rounded-full flex justify-center items-center transition-[background] hover:bg-secondary hover:text-white"
          >
            <FaTwitterSquare size="22" />
          </a>
        </li>
      </ul>
    </div>

    <div class="flex items-center justify-end gap-8">
      <p class="text-xs text-zinc-200">
        &copy; {currentYear} Designed by Grow-Marketing y Publicidad
      </p>
    </div>
  </div>
</footer>
