---
import { pages } from "@/constants/pages"
import SocialNetworkLink from "@/components/SocialNetworkLink.astro"
import X from "@/icons/x.astro"
import Facebook from "@/icons/facebook.astro"
import Youtube from "@/icons/youtube.astro"
import Instagram from "@/icons/instagram.astro"

const currentDate = new Date()
const currentYear = currentDate.getFullYear()
---

<footer class="py-16 flex items-center border-t border-t-primary">
  <div class="section-layout flex flex-col justify-center gap-y-8">
    <div class="flex flex-col justify-between items-center gap-16 lg:flex-row">
      <nav class="flex flex-col gap-16 md:flex-row md:items-center">
        <a href="/">
          <img src="/images/logo.svg" alt="logo" class="w-48 h-auto lg:w-64" />
        </a>

        <ul class="w-auto grid grid-cols-2 gap-x-6 md:gap-x-24">
          {pages.map((page) => (
            <li>
              <a href={page.href} class="transition-colors hover:underline hover:text-secondary">
                {page.name}
                </a>
            </li>
          ))}
        </ul>
      </nav>

      <ul class="flex justify-center items-center gap-4">
        <li>
          <SocialNetworkLink href="https://www.facebook.com/golden-corp">
            <Facebook size="24" />
          </SocialNetworkLink>
        </li>
        <li>
          <SocialNetworkLink href="https://www.instagram.com/golden-corp">
            <Instagram size="24" />
          </SocialNetworkLink>
        </li>
        <li>
          <SocialNetworkLink href="https://www.x.com/golden-corp">
            <X size="24" />
          </SocialNetworkLink>
        </li>
        <li>
          <SocialNetworkLink href="https://www.youtube.com/golden-corp">
            <Youtube size="24" />
          </SocialNetworkLink>
        </li>
      </ul>
    </div>

    <div class="flex items-center justify-center gap-8 lg:justify-end">
      <p class="text-xs text-zinc-400">
        &copy; {currentYear} Designed by <strong>Grow</strong> - Marketing y Publicidad
      </p>
    </div>
  </div>
</footer>
