---
import { pages } from "@/constants/pages"
import { Image } from "astro:assets"
import { FaFacebookSquare, FaTwitterSquare } from "react-icons/fa"
import logo from "../assets/logo.svg"

const currentDate = new Date()
const currentYear = currentDate.getFullYear()
---

<footer class="bg-primary px-10 py-4 text-white flex flex-col gap-y-8">
  <nav class="flex justify-between items-start">
    <ul class="grid grid-cols-3 gap-x-24">
      {pages.map((page) => (
        <li>
          <a href={page.href} class="hover:underline">{page.name}</a>
        </li>
      ))}
    </ul>

    <ul>
      <li>
        <a href="https://www.facebook.com/golden-corp">
          <FaFacebookSquare />
        </a>
      </li>
      <li>
        <a href="https://www.x.com/golden-corp">
          <FaTwitterSquare />
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex items-center justify-between gap-8">
    <a href="/">
      <Image src={logo} alt="logo" class="w-24 rounded-md bg-white" />
    </a>
    <h1>&copy; {currentYear} Designed by Grow-Marketing y Publicidad</h1>
  </div>
</footer>
