---
import { FaFacebookSquare } from "react-icons/fa";
---


<footer>
    <div>
        <FaFacebookSquare />
    </div>
    <div>
        
    </div>
    <div class="bg-secondary">
        <h1>Copyright©2024; Designed by Grow-Marketing y Publicidad</h1>
    </div>
</footer>