---
import { pages } from "@/constants/pages"
import { Image } from "astro:assets"
import { FaFacebookSquare, FaTwitterSquare } from "react-icons/fa"
import logo from "../assets/logo-white.svg"

const currentDate = new Date()
const currentYear = currentDate.getFullYear()
---

<footer class="bg-primary h-[232px] py-4">
  <div class="section-layout text-white flex flex-col justify-center gap-y-8">
    <nav class="flex justify-between items-start gap-y-8 md:flex-row">
      <ul class="w-auto grid grid-cols-2 gap-x-6 md:gap-x-24">
        {pages.map((page) => (
          <li>
            <a href={page.href} class="transition-colors hover:underline hover:text-secondary">
              {page.name}
              </a>
          </li>
        ))}
      </ul>

      <ul class="w-full flex justify-end items-center gap-4">
        <li>
          <a
            href="https://www.facebook.com/golden-corp"
            class="w-8 h-8 bg-white text-primary rounded-full flex justify-center items-center transition-[background] hover:bg-secondary hover:text-white"
          >
            <FaFacebookSquare size="22" />
          </a>
        </li>
        <li>
          <a
            href="https://www.x.com/golden-corp"
            class="w-8 h-8 bg-white text-primary rounded-full flex justify-center items-center transition-[background] hover:bg-secondary hover:text-white"
          >
            <FaTwitterSquare size="22" />
          </a>
        </li>
      </ul>
    </nav>

    <div class="flex items-center justify-between gap-8">
      <a href="/">
        <Image src={logo} alt="logo" class="w-28" />
      </a>
      <p class="text-xs text-zinc-200">
        &copy; {currentYear} Designed by Grow-Marketing y Publicidad
      </p>
    </div>
  </div>
</footer>
