---
import Input from './Input.astro'

interface Props {
  placeholder: string
  label: string
  htmlFor: string
}

const { placeholder, label, htmlFor } = Astro.props
---

<div class="w-full grid grid-cols-1 md:grid-cols-5 md:items-center">
  <label for={htmlFor} class="text-sm text-slate-100 mb-1 md:col-span-1 md:text-base">
    {label}
  </label>
  <Input placeholder={placeholder} className="md:col-span-4" />
</div>
