---
import Heading from '@/components/Heading.astro'

interface Props {
  title: string
  description: string
  imageUrl: string
  titleClassName?: string
  descriptionClassName?: string
  containerClassName?: string
  contentClassName?: string
  id?: string
}

const {
  title,
  titleClassName,
  description,
  descriptionClassName,
  imageUrl,
  containerClassName,
  contentClassName,
  id
} = Astro.props
---

<div
  id={id}
  class="wrapper relative px-6 flex flex-col justify-end md:px-16"
  class:list={[
    containerClassName
  ]}
  style={`background-image:url(${imageUrl});`}
>
  <div class="section-layout z-10" class:list={[ contentClassName ]}>
    <Heading as="h1" class="text-white mb-4" class:list={[titleClassName]}>
      {title}
    </Heading>
    <p class="text-white text-lg lg:text-xl" class:list={[ descriptionClassName ]}>
      {description}
    </p>
  </div>
  <div class="absolute top-0 left-0 w-full h-full bg-primary/65"></div>
</div>

<style>
.wrapper {
  width: 100%;
  min-height: 680px;
  background-size: cover;
  object-position: center;
}
</style>
