---
import type { MarkdownLayoutProps } from "astro"
import Header from "@/components/header/Header.astro"
import Footer from "@/components/Footer.astro"
import BaseHead from "@/components/BaseHead.astro"
import SectionLayout from "@/layouts/SectionLayout.astro"

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  location: string
  salary: string
}>

const { frontmatter: { title, description } } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={title} description={description} />
</head>
<body>
  <Header hasBackgroundHeader />
  <main class="px-24 text-slate-900 duration-200 pt-28">
    <SectionLayout>
      <article class="markdown-body">
        <slot />
      </article>
    </SectionLayout>
  </main>
  <Footer />
</body>
</html>

<style is:global>
main .markdown-body {
  ul {
    @apply list-disc list-inside pl-4 mb-4
  }

  h1, h2, h3, h4, h5 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl
  }

  h2 {
    @apply text-2xl
  }

  h3 {
    @apply text-xl
  }

  h4 {
    @apply text-lg
  }

  img {
    @apply border border-slate-300 dark:border-zinc-700 rounded-xl mb-6
  }

  p {
    @apply mb-6
  }

  a {
    @apply underline underline-offset-2 hover:text-secondary decoration-secondary
  }
}
</style>
