---
import Header from '../components/header/Header.astro'
import Footer from '../components/Footer.astro';
import BaseHead from '@/components/BaseHead.astro';

interface Props {
  title: string
  description: string
  hasBackgroundHeader?: boolean
  hasMarginTop?: boolean
}

const { title, description, hasBackgroundHeader, hasMarginTop } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={title} description={description} />
</head>
<body class="w-screen">
  <Header hasBackgroundHeader={hasBackgroundHeader} />
  <main class={`text-dark duration-200 ${hasBackgroundHeader && hasMarginTop ? 'mt-28' : ''}`}>
    <slot />
  </main>
  <Footer />
</body>
</html>
