---
interface Props {
  contentClassName?: string
  containerClassName?: string
  id?: string
}

const { containerClassName, contentClassName, id } = Astro.props
---

<section
  id={id}
  class:list={[
    containerClassName
  ]}
>
  <div
    class="section-layout py-16"
    class:list={[
      contentClassName
    ]}
  >
    <slot />
  </div>
</section>
